<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ThemeMii.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ThemeMii.Properties.Settings>
            <setting name="sourceManage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ignoreMissing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="standardMenu" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoImageSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="containerManage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="keepExtractedApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastExtracted" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lz77Containers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="savePrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="windowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="windowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="windowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="nandBackupPath" serializeAs="String">
                <value />
            </setting>
            <setting name="saveNandPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="imageSizeFromTpl" serializeAs="String">
                <value>True</value>
            </setting>
        </ThemeMii.Properties.Settings>
    </userSettings>
</configuration>